# Server Configuration
NODE_ENV=development
PORT=8000

# Database Configuration
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bank_saving_dev?schema=public"
